.workItem{
    float: left;
}

.workImageLeft{
    float: left;
    margin-top: 0;
    margin-right: 10px;
}

.workButton{
    font-size: 20px;
    color: #757575;
    border-color: #757575;
    position: relative;
    
}

.workButton:hover{
    color: #fff;
    background-color: #7EB5A6;
    border-color: #fff;
}